#contener{
    background-image: url('/img/fond.png');
    color: rgb(152,154,153);
    
}
header{
    color: rgb(152,154,153);
}
#list-header ul{
    transition:  transform 1s;
    /* border: 1px solid black; */
}
#list-header ul:hover  {
    
    color: rgb(243,42,94);
    transform: translateY(10px);
}

object{
    transition:  transform 1s;
}

object:hover{
    transform: scale(1.3);
}
h1:hover{
    color:rgb(243,42,94);
}


header object{
    width: 5rem;
    display: inline;
    position: absolute;
    left:8%;
    top:3%;
    
}
h1{
    margin: 1%;
    display: inline;
    position: absolute;
    left:15%;
    top:3%;
}
#list-header   ul{
    display: inline-block;
    list-style: none;  
    margin: 3%;  
}
#list-header{
    text-align: center;
    font-size: 1rem ;
}
.bonjour{
    background-image: url('/img/bg_header.png') ;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
    width: 70%;
    height: 50em;
    
     
}
#decouvrez_moi{
    padding: 0.5%;
    background-color: rgb(243,42,94);
    border-radius: 4%;
    width: 30%;
    margin: 0% 40% 0% 40%;
    
}

.bonjour div{
    line-height: 2em;
    width: 70%;
    padding:15%;
    
    /* margin-left: 15%; */
    /* position: absolute; */
    /* bottom: 10%; */
    /* left: 2%; */
    
}
h2{
    font-size: 2.5rem;
}
#para{
    font-size: 1.125rem;
}
#competences{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: rgb(152,154,153);
    font-size: 1rem;

    
}
#competences ul{
 display: inline-block;
 list-style: none;
 
 
}
#list1{
    width: 80%;
}
h3{
    color: rgb(243,42,94);
    font-size: 2rem;
    text-align: center;
}

#service{
    text-align: center;
    font-size: 1.125rem;
    color: rgb(152,154,153);
    width: 100%;
    margin: 0 auto;
}
#service ul{
    display: inline-block;
    list-style: none;
    margin-right: 3%;
}
#list2 ul{
    width: 13%;
}
#list2 ul li{
    margin-top: 7%;
}
.couleur,h4,.savoir,a{
    color: rgb(243,42,94);
}
#list2 .fa{
    padding: 20px;
    border-radius: 70%;
    background-color: rgb(152,154,153,0.2);
    width: 30px;
    animation: bounce 0.7s ease infinite alternate;

}
@keyframes bounce{
    from {transform: translateY(0);} 
    to {transform: translateY(-20px);} 
}

img{
    width: 20%;
    

}
#img1 {float: right;

}
.savoir:hover{
    background-color: rgb(243,42,94);
    color: white;
    padding: 2%;
    width: 15%;
}
section div {
width: 50%;
margin: 0 auto;
}
section{
    margin: 0 auto;
}
#para1{
    display: inline;
}
#img2{
    float: left;
    margin: 0 1% 1% 0;
}

#prenom {
    border-radius: 15px;
    border: 1px solid #CCCCCC;
    float: left;
    /* padding-left: 8px; */
    width: 37%;
    margin: 2%;
    background:url("/img/bg_form_name.svg") no-repeat  ;
    background-position: center left;
    /* float:left; */
    color:#333;
    /* font-weight:bold; */
    padding:8px 8px 8px 40px;
    outline: none;
}
#mail{
    border-radius: 20px;
    border: 1px solid #CCCCCC;
    float: right;
    /* padding-left: 8px; */
    width: 37%;
    margin: 2%;
    background:url("/img/bg_form_mail.svg") no-repeat  ;
    background-position: center left;
    /* float:left; */
    color:#333;
    /* font-weight:bold; */
    padding:8px 8px 8px 40px;
    outline: none;

}
#message{
    border-radius: 20px;
    border: 1px solid #CCCCCC;
    clear: both;
    /* padding-left: 8px; */
    width: 90%;
    margin: 2%;
    background:url("/img/bg_form_mail.svg") no-repeat  ;
    background-position: center left;
    /* float:left; */
    color:#333;
    /* font-weight:bold; */
    padding:8px 8px 8px 40px;
    outline: none;

}
#btn p{
    display: inline;
    
    padding: 2%;
    color: whitesmoke;
    
}
#btn {
    text-align: center;
    margin: 2%;
}
#envoyer{
    background-color: rgb(243,42,94);
}
#effacer{
    background-color: rgb(152,154,153);
}

form{
    width: 80%;
    margin: 0 auto;
}
footer {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin:2% 2% 2% 2%;
    margin-left: 5%;
    color: rgb(214, 209, 209);
    


}

#wa {
    width: 60px;
    height: 60px;

}
 @media screen and (max-width: 768px){ 
    header object{
        position: relative;
        margin:10% 0 2% 37%;

    }
    header h1{
       position: relative;
       display: block;
       margin-left: 28%;
               
    }
   
    #service ul{
        display: inline;
        list-style: none;
        /* margin: 3%; */
    }
    #competences{
        width: 50%;
    }
    section div {
        width: 90%;
    }
    
    
}

@media screen and (max-width: 480px){
    #list-header   ul{
        display: inline;
        list-style: none;  
         
    }
    header object{
        position: relative;
        margin:10% 0 2% 30%;

    }
    header h1{
       position: relative;
       display: block;
       margin-left: 20%;
               
    }
    #prenom,#mail,#message{
        width: 80%;
        
    }
    .bonjour div{
        padding: 1%;
        line-height: 1.5em;
        margin-left: 10%;
    }
    #competences {
    margin-right: 50%;
    }
    section div {
        width: 90%;
    }
    #decouvrez_moi{
        width: 40%;
    }
    #img1,#img2{
        float: none;
    }
    img{
        width: 80%;
    }
    #competences h3{
        margin-left: 45%;
    }

}

 
