#contener{ 
    width: 1900px;
    
}
#tete {
    background-image: url(/img/img7/fond.jpg);
    width: 1900px;
    height: 760px;
    margin-left: 3%;
    
}

#nav {
    
    height: 100px;
    width: 1900px;
    text-align: center;
    background-color: rgb(218,201,235);
    
}
i{
    margin-right: 4%;
    margin-top: 1%;
}
li{
    display: inline;
    font-family: 'Kaushan Script', cursive;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.5em;
    color: whitesmoke;
    
}
#text{
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    height: 60px;
    width: 1900px;
    background-color: rgb(233,209,233,0.5);
    padding-top: 0.5%;
    
}
#bienvenue{
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    margin-top: 12%;

} 
#para1{
    margin: 4%;
    display: inline-block;
    text-align: justify;
    width:1900px;
}
 #img1{
     float: left;
     width: 250px;
     height: 150px;
     margin-right: 2%;
 }
 h4{
     text-align: center;
     
 }
 #para2{
    margin: 4%;
    display: inline-block;
    text-align: justify;
    width: 1900px;
}
 #img2{
     float: right;
     width: 250px;
     height: 150px;
     margin-left: 2%;
 }
 h4{
     text-align: center;
     
 }
 #border{
     border: 3px solid black;
     text-align: center;
     width: 3px;
 }
 hr{
     margin-left: 5%;
 }
 #foot{
     width: 1900px;
     
     background-image: url(/img/img7/background_section.jpg);
     background-repeat: no-repeat;
     background-size:cover;
     margin-left: 4%;
     
 }
 #entete{
     text-align: center;
     display: inline-block;
     color: whitesmoke;
     margin-bottom: 2%;
 }
 .image{
     width: 150px;
     height: 150px;
 }
 #left{
     width: 20%;
     float: left;
     margin-left: 2%;
 }
 #centre{
     width: 20%;
     float: left;
     margin-left: 18%;
 }
 #right{
     width: 20%;
     float: right;
     margin-right: 2%;
 }
 iframe{
     width: 1900px;
     margin-bottom: 2%;
 }
 #footer {
    text-align: center;
    display: inline-block;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#wa {
    width: 60px;
    height: 60px;
    clear: both;
}