.contener{
    background-color: rgb(242,242,242);

}
header{
    background-image: url(/maquette14/img/bg.jpg);
    /* background-repeat: no-repeat; */
    
    
    color:whitesmoke;
    display: inline-block;
    width: 100%;
    position: relative;
}
#elu{
    width: 10%;    
    /* float: right; */
    position: absolute;
    top: 0;
    right: 0;
        
}
header i{
    border-radius: 1px solid white;
}
header h3{
    /* background: linear-gradient(to left, rgb(135,158,15) 0% , rgba(135,158,15,0.1) 30%, rgba(135,158,15,0.1)70%, rgb(135,158,15)100%); */
    background-color: rgb(135, 158, 15);
    text-align: center;
    padding: 0.5%;
    margin: 0;
   
}
header div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
header i {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}
.logo{
    float: left;
}
header div p{
    float: right;
    margin-right: 3%;
}
header div ul {
    clear: both;
    display: flex;
    list-style: none;
    justify-content: center;
}
header div ul li{
    margin: 5%;
}
section{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    

}
section img{
    width: 100%;
}
.flexslider {
    margin: 0 auto;
    width: 70%;
}
.the{
    width: 76%;
    margin: 3% auto;
    background-color: white;
    padding: 2%;
    
}
.the div{
    display: inline-block;
    list-style: none;
    padding-left: 0;
    
    
    
}
.the img{
    width: 100%;
}
.flex_start div,.flex_end div,#order{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
}


fieldset{
    border-bottom: none;
    border-right: none;
    border-left: none;
}
h1{
    color: rgb(135, 158, 15);
}
legend{
    text-align: center;
    font-size: 1.5em;
    color: rgb(135, 158, 15);
    
}
.main{
    width: 80%;
    background-color: white;
    margin: 2% auto;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.descrip{
    width: 30%;
    color: rgb(109, 99, 79);
}
.descrip h3,strong{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    
}
.descrip img{
    width: 100%;
}

.produit{
    padding: 5%;
    background-color: rgba(133, 90, 12, 0.897);
    color: white;
}
footer{
    background-image: url('/maquette14/img/bg.jpg');
}
.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: rgb(109, 99, 79);

}
.nav ul ul{
    flex-direction: column;
    text-align: center;
}
.nav{
    background-color: rgb(135, 158, 15);
    padding: 0.5%;
}
.body{
    display: flex;
    justify-content: space-around;
    
}
.body ul {
    list-style: none;
    color: rgb(109, 99, 79);
    text-align: center;
}
.body h4{
    text-align: center;
    color: white;
    margin-left: 15%;
}
.footer div {
    text-align: center;
    display: inline-block;
    width: 80%;
    margin:2% 2% 2% 10%;
    /* margin-left: 5%; */
    color: rgb(214, 209, 209);
   
    
}
.footer a{
    color: rgb(214, 209, 209);
    text-decoration: none;
}

#wa {
    width: 50px;
    height: 50px;

}
.footer{
    background-color: rgb(135, 158, 15,0.7);
}
#contenu{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    padding: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#amelie{
    width: 40%;
    float: left;
    margin: 1%;
}
#xavier{
    float: right;
    width: 40%;
    margin: 1%;
}
#contenu h3{
    color: rgb(135, 158, 15);
}
#contenu h1{
    color: rgb(109, 99, 79);
}
#coeur{
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    background-color: rgb(194, 189, 178);
    padding: 2%;
}
#coeur ul{
    list-style: none;
    padding: 0%;
}
.listing{
    width: 60%;
    margin: 2% auto;
    padding: 2%;
    background-color: white;
    color: rgb(109, 99, 79);
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.listing .the{
    float: left;
    width: 15%;
    
}
.listing .entete h5{
color: rgb(135, 158, 15);
}
.listing .apres_entete {
display: flex;
text-align: center;
clear: both;

}
.listing div ul{
    list-style: none;
}
#product{
    width: 80%;
    background-color: white;
    padding: 1%;
    margin: 2% auto;
    color: rgb(109, 99, 79);
}
#list1{
    list-style: none;
}
#gauche{
    list-style: none;
    float: left;
    line-height: 0.05em;
    text-align: justify;
}
#droite{
    list-style: none;
    float: right;
}
#star{
    list-style: none;
    display: flex;
}
#avis{
    
    color: rgb(135, 158, 15);
}
#gauche ul,#droite ul{
    list-style: none;
}
#yellow{
    color: yellow;
}
#photo{
    clear: both;
}
#photo img{
    width: 40%;
    float: left;
    margin: 2%;
}
#red{
    color: red;
}
#green{
    color: rgb(135, 158, 15);
}
#photo ul{
    float: right;
    list-style: none;
    margin-top: 10%;
}
#fin {
    clear: both;
    text-align: justify;
}
@media screen and (max-width: 768px){
    section {
        width: 90%;
        
        
    }
    .main{
        flex-direction: column;
    }
    .descrip{
        width: 90%;
    }
    .the {
        width: 62%;
    }
    
    .entete img{
        display: none;
    }
    .apres_entete {
        flex-direction: column;
    }
    #product {
        width: 100%;
    }
    #coeur{
        flex-direction: column;
    }
}
@media screen and (max-width: 480px ){
header div ul{
    flex-direction: column;
}
.logo{
    float: none;
    margin-top: 20%;
}
header div p{
    float: none;
    position: absolute;
    top: 30px;
    left: -78px;
    border-radius: 35%;
    background-color: rgb(135, 158, 15);
    padding: 1%;
}
.body {
    flex-direction: column;
}
section #g_titre_noel,#p_titre_noel,#noel,.flexslider{
    display: none;
}
.the {
    width: 100%;
}

    

#amelie{
    float: none;
    width: 100%;
}
#xavier{
    float: none;
    width: 100%;
}
#gauche{
    float: none;
    text-align: center;
    margin-right: 20%;
}
#droite{
    float: none;
    margin-top: 10%;
    margin-right: 20%;
}
#star{
    margin-left: 20%;
}
#product{
    text-align: center;
}
#photo ul{
    float: none;
}
#photo img{
    float: none;
}
.nav ul{
    display: inline;
}
}